#main {
	background-color: white;
	padding: 1rem .1rem;
}

.container {
	background-color: #eeeeee;
}

#title {
	text-align: center;
	padding-top: 5%;
}

#img-div {
	background-color: white;
	margin: 0 0 20px 0;
}

#image {
	padding: 1% 1% 0 1%;
	width: 100%;
	display: block;
	height: auto;
}

#img-caption {
	padding-bottom: 1%;
	text-align: center;
}

h1 {
	letter-spacing: .2em;
}

h1, h2, h5, li {
	font-family: 'Cabin', sans-serif;
}

h5 {
	text-align: center;
}

li {
	font-size: 20px;
}

#tribute-link {
	font-size: 1rem;
	display: flex;
	justify-content: center;
}
